OUTPUT
Main/*.o
Main/*.so
Main/ap.tar.gz
Main/*.a
Main/presets.tar.gz
Main/preset_builder/presets.tar.gz
Main/preset_builder/preset
Main/ap
Main/main
Application/misa.a
Application/*.o
Application/*.so
Main/tinyxml/*.o
Main/tinyxml/xmltest
Main/preset_builder/tinyxml/*.o
Main/preset_builder/tinyxml/xmltest
vssver.scc
*.mz
